/* background image */
body {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  padding: 0;
}
/* navbar */
nav {
  position: absolute;
  width: 100%;
  z-index: 1000;
}
#main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#main a {
  text-decoration: none;
  color: white;
}
#main div:nth-child(1) {
  width: 15%;
}
#main div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#main div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
.headers {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: bottom;
  color: #fff; /* Text color */

  padding: 20px;
}

.text > .sub {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text > .sub > h1 {
  /* font-family: "Gill Sans", sans-serif; */

  font-weight: 400;
  font-size: 6vw;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub-heading {
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub-heading > h4 {
  /* font-family: Arial Helvetica sans-serif; */

  font-size: 1.4vw;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  text-align: center;
}

/* about section  */
#hero {
  width: 70%;
  margin: auto;
  display: block;
  margin-top: 9%;
  padding: 20px;
}

#hero div {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 20px;
}

#hero div h1 {
  font-size: 70px;
  color: white;
}

#hero div p {
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 20px;
  font-size: 17px;
}

.container {
  margin: 70px 0px 30px 280px;
}

.container .search-bar {
  background: white;
  width: 70%;
  height: 8vh;
  border-radius: 50px;

  padding: 10px 8px 10px 30px;
  border: 14px solid rgba(128, 128, 128, 0.395);
}

.container .search-bar form {
  display: flex;
  align-items: center;
}

.search-bar form input {
  display: block;
  border: none;
  outline: none;
  background: transparent;
}

.search-bar form button {
  background: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-bar form button img {
  width: 35px;
  margin-top: 7px;
}

.location-input {
  flex: 1;
}

.search-bar form label {
  font-weight: 600;
}

#searchbtn {
  background-color: #1ca0e3;
  width: 60px;
  border: none;
  color: white;
}

#form {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-btn + ion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: white;
  width: 50px;
  height: 6.5vh;
  padding: 10px;
  background-color: #1ca0e3;
  border-radius: 50px;
  margin-bottom: 10px;
  font-size: 8px;
}

.mainSection {
  text-align: center;
}
.textSection {
  margin-bottom: 30px;
}
.textSection h1 {
  font-size: 40px;
}

.aboutSection {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* border: 3px solid green; */
  gap: 40px;
  margin-top: -20px;
}
.aboutSection > .aboutbox {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.aboutbox > .aboutfirst {
  width: 40%;
}
.aboutbox > .aboutfirst img {
  width: 100%;
  height: 45vh;
}
.aboutSection > .aboutbox > .aboutSecond {
  width: 40%;

  padding: 20px;
}
.aboutSecond > h1 {
  color: rgb(26, 32, 44);
  margin-bottom: 18px;
}
.aboutSecond > p {
  width: 90%;
  color: #3e8c87;
  /* font-family: Arial Helvetica sans-serif; */
  font-size: 18px;
  line-height: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.aboutSecond > button {
  display: block;
  width: 8rem;
  margin: auto;
  margin-top: 40px;
  padding: 12px;
  margin-left: -1px;
  border: none;
  border-radius: 18px;
  background-color: #1ca0e3;
  color: white;
  font-weight: bold;
}
.aboutSecond > button:hover {
  background-color: #3e8c87;
  color: white;
  cursor: pointer;
}
